{% extends 'base.html' %}

{% block title %}Arial - Manage{% endblock %}


{% block body %}
	<header>
		<div class="container">
			<div class="row">
				<div class="col logo">
					<a href="{% url 'home' %}">Arial</a>
				</div>
				<div class="col nav">
					<ul>
						<li class="nav-item"><a href="{% url 'manage' %}"><i class="fa-brands fa-product-hunt"></i> Products</a></li>
						<li class="nav-item"><a href="{% url 'category' %}"><i class="fa-solid fa-filter"></i> Categorys</a></li>
						<li class="nav-item"><a class="active" href="{% url 'feedbacks' %}"><i class="fa-solid fa-comment"></i> Feedbacks</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>	

	<div class="container">
		<br>
		<br>

		{% if feedbacks %}
			{% for feedback in feedbacks %}
				<div class="feedback info">
					<h1 class="author-view">{{feedback.author}}</h1>
					<div class="line"></div>
					<p class="text-view">{{feedback.text}}</p>
					<br>
					<div class="line"></div>
					<br>
					<a href="{% url 'del_feedback' feedback.id %}" class="btn-primary delete-btn">Delete Feedback</a>
				</div>
				<br>
			{% endfor %}
		{% else %}
			<h3>No Feedbacks</h3>
		{% endif %}
		<br>
		<br>
		<div class="line"></div>
		<br>
		<h5 class="footer">&copy 2023 Arial MS</h5>
		<br>
	</div>
{% endblock %}