{% extends 'base.html' %}


{% block body %}
	<header>
		<div class="container">
			<div class="row">
				<div class="col logo">
					<a href="{% url 'home' %}">Arial</a>
				</div>
				<div class="col nav">
					<ul>
						<li class="nav-item"><a href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a></li>
						<li class="nav-item"><a class="active" href="{% url 'leave_feedback' %}"><i class="fa-solid fa-comment"></i> Leave Feedback</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>	

	<br>
	<div class="container">
		<h1>Leave The Feedback</h1>
		<br>
		<form method="POST">
			{% csrf_token %}
			{{ form.author }} <br>
			{{ form.text }} <br>
			<button type="submit" class="btn-primary">Leave Feedback</button>
		</form>	
	</div>
	<br>
	<div class="line"></div>
	<br>
	<h5 class="footer">&copy 2023 Arial MS</h5>
	<br>
	</div>
{% endblock %}